# Bibliografia: artigos publicados e tese de terceiros.
# NAO versionar - material sob copyright, 28 MB, e nao e produto deste
# repositorio. As referencias estao citadas por DOI/arXiv em
# dipole/CAMPANHA_CORRECAO.md secao 4.
refs/

__pycache__/
*.pyc
